<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="PostSharp" version="6.10.9" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.10.9" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.9" targetFramework="net472" />
  <package id="PostSharp.Patterns.Diagnostics" version="6.10.9" targetFramework="net472" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.10.9" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.10.9" targetFramework="net472" />
</packages>